<h1>Create a New Restaurant</h1>

<!-- <form action="/restaurants" method="post">
  <input type="text" name="name">
</form> -->
<!-- Restaurant.new(name: params[:name], address: params[:adddress])

Restaurant.new(params[:restaurant])
params[:restaurant] = {
  name: "value",
  address: 'value'
} -->

<!-- FORM FOR:
1. Building our path/action
2. Setting the method
3. Adding authenticity
4. Adds class & id -->

<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<!-- @restaurant does not have an id! -->
<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.submit %>
<% end %>




